/*   Valores Universales   */
@font-face {
    font-family: 'Hollow-Knight';
    src: url(arc/Trajan\ Pro\ Regular.ttf);
}
*{
    font-family: 'Hollow-Knight';
}
body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/*   Modificando Header   */
.header{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header__nav{
    display: block;
}
.header__nav-ul{
    margin: 20px;
}
.header__nav-ul-li{
    display: inline-block;
}
.header__nav-ul-li-a{
    line-height: 2;
    padding: 10px;
    border: 1px solid #ffffff;
    margin: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}
.header__nav-ul-li-a:hover{
    transition: .8s all;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
}












.mapa{
    padding: 10px;
    border: 1px solid #ffffff;
    margin: 200px;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000071;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff;
}
.mapa__h2{
    line-height: 2;
    padding: 10px;
    margin: 10px;
}














/*   Modificando Footer   */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}
.footer__p{
    line-height: 2;
    padding: 5px;
    margin: 5px;
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff;
}